h1.class1{
    color: rgb(0, 0, 0);
    background-color: rgb(130, 0, 252);
}

/*  Desse jeito, todas as tags "h1" que possuirem a classe "class1" possuirão essas cores 

    Se escrito como "h1, .class1" todas as tags que tenham h1 OU class1 possuirão essas cores
*/

p.class2{

color: rgb(223, 135, 4);
background-color: rgb(0, 0, 0)
}

.class3{

color: darkslateblue;
background-color: firebrick

}   /*Tudo que tiver apenas o class3 será colorido*/

#id{

color: darkred;
background-color: darkgray;
font-family: Arial, Helvetica, sans-serif;
}   /* O #id (nome pode variar) serve para especificar, dentro de um grupo em que há repetiçoes, qual deles tera a cor darkred e essa fontizinha bonitinha. Olhar linha 113 no index.html*/

/*Ordem de prioridade  inline> ID > Class > Tag */

.girat{
    height: 500px;
    float: right;
}

.container
{

    display: flex; /*To tentando entender o que isso faz*/
    flex-direction: column; /*Comando que define a disposição dos blocos, se eles vao se em vertical (column) ou horizontal (row)*/
    justify-content: space-around; /*Espaçamento entre os blocos*/
    align-items: center;    /*disposição dos blocos em relação ao espaço. Aqui todos os blocos serão alinhados no centro. */

    /*Com a tag gap, é possivel definir de maneira manual qual a distancia entre os blocos*/

    height: 500px; 
    width: 100%; /*Largura vai ser do x% do tamanho da tela*/
    border: 1px solid rebeccapurple;
}

.box
{
    width: 100px;
    height: 100px;

}

#box1
{
    background-color: blueviolet;

}
#box2
{
background-color: brown;

}
#box3
{

    background-color: aquamarine;

}

#box4 
{

    background-color: darkorange;

}

.Tbox /*Classe para o html textão*/
{

background-color: black;  
position: relative;


width: 100%;
height: 100px;
}

.Thover /**/
{
    background-color: darkgreen;
}

.Thover:hover   /*Comando que cria um trecho no site que quando o mouse passa em cima muda de cor*/
{
    background-color: greenyellow;
}


.seq:nth-child(2)   /*Comando que criou uma classe chamada "seq" e que o 2 segundo topico de uma lista vai ser modificado */
{
    background-color: black;
    color: white;

}

.seq:first-child /*O primeiro topico da lista vai sofrer uma alteração*/
{
    font-size: xx-large; /*Comando que muda tamanho da fonte*/

}
.seq:last-child /*O ultimo topico da lista vai sofrer uma alteração*/           /* :after  Comando que vai criar uma alteração depois dos topicos, so testando pra fazer sentido*/
{                                                                               /* :before  Comando que vai criar uma alteração antes dos topicos, so testando pra fazer sentido*/
    font-size: smaller;
}

.container2
{
    display: flex; /*To tentando entender o que isso faz*/
    flex-direction: column; /*Comando que define a disposição dos blocos, se eles vao se em vertical (column) ou horizontal (row)*/
    justify-content: space-around; /*Espaçamento entre os blocos*/
    align-items: center;    /*disposição dos blocos em relação ao espaço. Aqui todos os blocos serão alinhados no centro. */
}

.caixa
{
    height: 250px;
    width: 250px;
    background-color: rebeccapurple;
    text-align: center; /*Alinhar a caixa*/

    animation-name: esquerda; /*Nome da animação*/
    animation-duration: 3s; /*Tempo de duraçao da animação*/
    animation-iteration-count: infinite; /*Repetição da animação*/
    /*animation-direction: reverse; *Reverter a direção* */


}   

    /*@ = elementos especiais do css que indicam como  navegador deve geenciar/lidar com seu css*/
@keyframes esquerda /*Gera a animação com base no nome*/
{
    from{transform: translateY(400%)} /*Ponto de inicio da animaçao no eixo y*/

}
@keyframes direita 
{
    to{transform: translateX(300%)} /*Ponto de inicio da animaçao no eixo x*/
}

